<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">


<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<!-- <title>JavaScript Line Chart</title>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-base.min.js"></script>
<style type="text/css">      
  html, body, #container { 
    width: 100%; height: 100%; margin: 0; padding: 0; 
  } 
</style> -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Send Data to Endpoint</title>

<h1> <center> Welcome to Flight Tracker Project</center></h1>
<h3><center>Project Done by Surya Krishnan, Magnus A Haarseth, Jiwon Chun and Venkatakrishnan Sutharsan</center></h3>

<label for="city1"> Flying From City :  </label>
<!-- <input type="text" id="city1" placeholder="City 1"> -->

<select name="city1" id="city1" placeholder="City 1"> 
  <option value="Albany, New York"> Albany, New York</option> 
  <option value="Albuquerque, New Mexico">Albuquerque, New Mexico</option> 
  <option value="Allentown, Pennsylvania">Allentown, Pennsylvania</option> 
  <option value="Amarillo, Texas">Amarillo, Texas</option> 
  <option value="Appleton, Wisconsin">Appleton, Wisconsin</option> 
  <option value="Asheville, North Carolina">Asheville, North Carolina</option> 
  <option value="Ashland, West Virginia">Ashland, West Virginia</option> 
  <option value="Aspen, Colorado">Aspen, Colorado</option> 
  <option value="Atlanta">Atlanta</option> 
  <option value="Atlantic City, New Jersey">Atlantic City, New Jersey</option> 
  <option value="Bangor, Maine">Bangor, Maine</option> 
  <option value="Belleville, Illinois">Belleville, Illinois</option> 
  <option value="Bellingham, Washington">Bellingham, Washington</option> 
  <option value="Bend, Oregon">Bend, Oregon</option> 
  <option value="Billings, Montana">Billings, Montana</option> 
  <option value="Birmingham, Alabama">Birmingham, Alabama</option> 
  <option value="Bismarck/Mandan, ND">Bismarck/Mandan, ND</option>
  <option value="Boise, Idaho">Boise, Idaho</option>
  <option value="Boston">Boston</option>
</select>
  
<br>
<br>  

<label for="city2"> Flying  To  City :  </label>
<!-- <input type="text" id="city2" placeholder="City 2"> -->

<select name="city2" id="city2" placeholder="City 2"> 
  <option value="Atlanta"> Atlanta</option> 
  <option value="Austin">Austin</option> 
  <option value="Boise, Idaho">Boise, Idaho</option> 
  <option value="Boston">Boston</option> 
  <option value="Bozeman, Montana">Bozeman, Montana</option> 
  <option value="Buffalo, New York">Buffalo, New York</option> 
  <option value="Charleston, South Carolina">Charleston, South Carolina</option> 
  <option value="Charlotte, North Carolina">Charlotte, North Carolina</option> 
  <option value="Chicago">Chicago</option> 
  <option value="Cincinnati">Cincinnati</option> 
  <option value="Cleveland">Cleveland</option> 
  <option value="Colorado Springs, Colorado">Colorado Springs, Colorado</option> 
  <option value="Columbus, Ohio">Columbus, Ohio</option> 
  <option value="Dayton, Ohio">Dayton, Ohio</option> 
  <option value="Denver">Denver</option> 
  <option value="Des Moines, Iowa">Des Moines, Iowa</option> 
  <option value="Detroit">Detroit</option> 
  <option value="Eagle, Colorado">Eagle, Colorado</option> 
  <option value="El Paso, Texas">El Paso, Texas</option> 
  <option value="Fargo, North Dakota">Fargo, North Dakota</option> 
  <option value="Washington, DC (Metropolitan Area)">Washington, DC (Metropolitan Area)</option> 
</select>

<br>
<br>

<p>Date: <input type="text" id="datepicker"></p>

<label for="cabinClass"> Cabin Class :  </label>
<select name="cabinClass" id="cabinClass" placeholder="cabinClass"> 
  <option value="economy"> Economy</option> 
  <option value="premium_economy">Economy Premium</option> 
  <option value="business">Business Class</option> 
  <option value="first">First Class</option> 
</select>

<br>
<br>

<label for="budget"> Budget (total cost) : $</label>
<input type="text" id="budget" placeholder="250">

<br>
<br>

<label for="passenger_count"> Number of Passengers :  </label>
<input type="text" id="passenger_count" placeholder="3">

<br>
<br>

<button type="button" onclick="myFunction()">Search</button>

<p id="city1search"></p>
<p id="city2search"></p>
<p id="datesearch"></p>
<p id="cabinclasssearch"></p>
<p id="budgetsearch"></p>
<p id="passengersearch"></p>

<!-- <label for="dataInput">Enter Data:</label>
<input type="text" id="dataInput">
<button onclick="sendData()">Send Data</button> -->

<!-- <div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  <p>Value: <span id="demo"></span></p>
</div> -->



<!-- <div id="container"></div> -->

<!-- <title>Line Chart JS</title>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
<style type="text/css">      
  html, body, #container { 
    width: 100%; height: 100%; margin: 0; padding: 0; 
  } 
</style> -->

<script>
  // var slider = document.getElementById("myRange");
  // var output = document.getElementById("demo");
  // output.innerHTML = slider.value;
  
  // slider.oninput = function() {
  //   output.innerHTML = this.value;
  // }
  
  function myFunction() {
    var city1 = document.getElementById("city1");
    var defaultVal = city1.defaultValue;
    var currentVal = city1.value;

    var city2 = document.getElementById("city2");
    var defaultVal2 = city2.defaultValue;
    var currentVal2 = city2.value;
    
    var bugdet = document.getElementById("budget");
    var defaultVal3 = bugdet.defaultValue;
    var currentVal3 = bugdet.value;

    var passenger = document.getElementById("passenger_count");
    var defaultVal4 = passenger.defaultValue;
    var currentVal4 = passenger.value;

    var date = document.getElementById("datepicker");
    var defaultVal5 = date.defaultValue;
    var currentVal5 = date.value;

    var date = document.getElementById("cabinClass");
    var defaultVal6 = date.defaultValue;
    var currentVal6 = date.value;


    if (defaultVal == currentVal) {
    }
    else{
      document.getElementById("city1search").innerHTML = "<br>City 1: " + currentVal;
    }

    if (defaultVal2 == currentVal2) {
    }
    else{
      document.getElementById("city2search").innerHTML = "<br>City 2: " + currentVal2;
      
    }

    if (defaultVal3 == currentVal3) {
    }
    else{
      document.getElementById("budgetsearch").innerHTML = "<br>Budget: " + currentVal3;
    }

    if (defaultVal4 == currentVal4) {
    }
    else{
      document.getElementById("passengersearch").innerHTML = "<br>Number of passengers: " + currentVal4;
    }

    if (defaultVal5 == currentVal5) {
    }
    else{
      document.getElementById("datesearch").innerHTML = "<br>Date: " + currentVal5;
    }

    if (defaultVal6 == currentVal6) {
    }
    else{
      document.getElementById("cabinclasssearch").innerHTML = "<br>Cabin Class: " + currentVal6;
    }
  }
  
  //Creating calendar
  $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );

  // var form_data = new FormData();

  // formData.append("src", currentVal);
  // formData.append("dst", currentVal2);
  // formData.append("date", currentVal5);
  // formData.append("passengers", currentVal4);
  // formData.append("cabinClass", currentVal6);
    // function sendData() {
      //Get the input value
      var data1 = document.getElementById("city1").value;
      var data2 = document.getElementById("city2").value;
      var data3 = document.getElementById("datepicker").value;
      var data4 = document.getElementById("passenger_count").value;
      var data5 = document.getElementById("cabinClass").value;
      var data6 = document.getElementById("budget").value;

      // print(data1);

      // var form_data = new FormData();

      // formData.append("src", currentVal);
      // formData.append("dst", currentVal2);
      // formData.append("date", currentVal5);
      // formData.append("passengers", currentVal4);
      // formData.append("cabinClass", currentVal6);


      // Define the endpoint URL
      var endpointUrl = '/getdata';

      // Make a POST request to the endpoint
      fetch(endpointUrl, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json',
              // You may need to include additional headers, such as authorization headers
          },
          body: JSON.stringify({ "city1":  data1, "city2": data2, "date" : data3, "passengers" : data4, 
            "cabinClass" : data5, "budget" : data6})
      })
      .then(response => response.json())
      .then(data => {
          // Handle the response from the server if needed
          console.log('Response from server:', data);
      })
      .catch(error => {
          // Handle any errors that occurred during the fetch
          console.error('Error:', error);
      });
  // }
  

  // for ( var key in item ) {
  //     form_data.append(key, item[key]);
  // }

  // $.ajax({
  //     src         : currentVal,
  //     dst        : currentVal2,
  //     date : currentVal5,
  //     passengers : currentVal4,
  //     cabinClass: currentVal6
  // }).done(function(data){
  //     // do stuff
  // });

  




//DROP DOWN MENU WITH CITIES
  // var body = d3.select("body");
  // var data = d3.csvParse(d3.select("#csv").text());

  // var menu = body.append("select");

  // menu.selectAll("foo")
  //     .data(data)
  //     .enter()
  //     .append("option")
  //     .attr("value", d=>d.TPC)
  //     .text(d=>d.subCategory);

  // menu.on("change", function(){
  //     console.log(this.value)
  // });
  
  //DRAWING A LINE GRAPH
  // anychart.onDocumentReady(function () {
  // function getData(){
  //   var data = [
  //         ["2019", 100],
  //         ["2020", 300],
  //         ["2021", 200],
  //         ["2022", 300],
  //         ["2023", 400],
  //   ];
  // }

//   // create a data set on our data
// var dataSet = anychart.data.set(getData());

// // map data for the line chart,
// // take x from the zero column and value from the first column
// var seriesData = dataSet.mapAs({ x: 0, value: 1 });

// // create a line chart
// var chart = anychart.line();

// // configure the chart title text settings
// chart.title('ticket price');

// // set the y axis title
// chart.yAxis().title('price');

// // create a line series with the mapped data
// var lineChart = chart.line(seriesData);

// // set the container id for the line chart
// chart.container('container');

// // draw the line chart
// chart.draw();
  

//   // create a data set
//   var dataSet = anychart.data.set(data);

// // map the data for all series
// var firstSeriesData = dataSet.mapAs({x: 0, value: 1});


// // create a line chart
// var chart = anychart.line();

// // create the series and name them
// var firstSeries = chart.line(firstSeriesData);
// firstSeries.name("city pair");

// // add a legend
// chart.legend().enabled(true);

// // add a title
// chart.title("City pair");

// // specify where to display the chart
// chart.container("container");

// // draw the resulting chart
// chart.draw();

// });
</script>